@import 'styles/abstracts/colors';
@import 'styles/abstracts/fonts';

.search-container{
    width: 85%;
    margin: 20px auto;
    padding-top: 10px;
    position: relative;

    h1{
        color: $primary-color;
        font-size: 35px;
        font-weight: 200;
        letter-spacing: 0.33px;
        margin: 5px;
    }

    h3{
        color: $secondary-color;
        font-size: 15px;
        font-weight: 400;
        margin: 5px;
    }
}