@import 'styles/abstracts/colors';

.nav{
    width: 85%;
    height: 50px;
    display: flex;
    position: relative;
    margin: 0 auto;
    border-bottom: 0.5px solid $secondary-color;

    .left-buttons{
        display: flex;
        align-items: center;
    }
}