@import 'styles/abstracts/colors';
@import 'styles/abstracts/fonts';

.feature-container{
    width: 180px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    h2{
        color: $primary-color;
        font-family: $primary-font;
        font-size: 18px;
        font-weight: normal;
        margin: 15px 0;
        font-weight: normal;
        line-height: 1em;  
    }

    h3{
        color: $secondary-color;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: normal;
    }
}