@import 'styles/abstracts/colors';
@import 'styles/abstracts/fonts';

.coin{
    width: 200px;
    height: 27px;
    display: flex;
    align-items: center;
    font-size:14px;
    transition: 0.3;
    cursor: pointer;
    &:hover{
        background-color: $third-color-light;
    }
    &:focus{
        background-color: $fifth-color;
    }
    .coin-symbol{
        width: 50px;
        margin: 3px;
        color:$fifth-color;
        font-weight: bold;
        &:focus{
            color: $primary-color;
        }
    }
    .coin-name{
        width:150px;
        margin: 3px;
        color:$third-color;
        &:focus{
            color: $primary-color;
        }
    }
}