@import 'styles/abstracts/colors';
@import 'styles/abstracts/fonts';

.filter{
    width: 160px;
    display: flex;
    flex-direction: column;

    .filter-info-top{
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2px;

        .filter-checkbox{
            width: 15px;
            height: 15px;
            border: 0.5px solid $sixth-color;
            transition: 0.2s;
            cursor: pointer;
            &:hover{
                background-color: $fifth-color;
                border-color: $fifth-color;
            }

            // &:focus{
            //     background-color: $fifth-color;
            //     border-color: $fifth-color;
            // }
        }

        .filter-label{
            font-family: $primary-font;
            font-size: 13px;
            color: black;
        }

        .filter-price{
            font-family: $primary-font;
            font-size: 12px;
            color: black;
        }
    }

    .filter-info{
        display: flex;
        justify-content: center;
        font-family: $primary-font;
        font-size: 10px;
        color: black;
    }
}