@import 'styles/abstracts/colors';

.input{
    border: none;
    outline: none;
    
    &.round{
        width: 13px;
        height: 11px;
        border-radius: 50%;
        background-color: transparent;
        
        font-weight: lighter;
        margin: 3px;
        transition: 0.6s;
        cursor: pointer; 
    }

    &.orange{
        border: 0.5px solid $secondary-color;
        
        &:hover, &:focus{
            background-color: $forth-color;
            border: 0.5px solid $forth-color;
            color: $forth-color;
        }  
    }

    &.blue{

    }

    &.search{
        width: 100px;
        background-color: transparent;
    }

}