@import 'styles/abstracts/colors';
@import 'styles/abstracts/fonts';

.button{
    &.item{
        width: 60px;
        margin: 0 auto;
        color: $secondary-color;
        font-size: 13px;
        transition: 0.6;
        cursor: pointer;
        &:hover{
            color: $primary-color;
        }
    }

    &.bold{
        margin: 10px;
        color: $third-color;
        font-size:14px;
        font-weight: 600;
        transition: 0.6;
        cursor: pointer;
        &:hover{
            color: $primary-color;
        }
    }

    &.search{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 57px;
        background-color: $forth-color;
        color: $primary-color;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
    
    &.search-flights{
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $fifth-color;
        color: $primary-color;
        font-size: 12.5px;
        border-radius: 3px;
        margin: 3px;
        cursor: pointer;
    }

    &.book{
        width: 70px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        padding: 5px;
        background-color: $forth-color;
        border-radius: 2.5px;
        color: $primary-color;
        font-family: $primary-font;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
    }
    // &.icon {
    //     padding: 0;

    //     .button-icon {
    //         margin: 5px;
    //     }
    // }
}