$primary-color: #ffffff; //blanco
$secondary-color:#ffffff5e;
$third-color: #cac8c8;
$third-color-light: #f7f7f7;
$forth-color: #ff6600;
$fifth-color: #0093d2;
$sixth-color: #000000;
$transparent-color: #ffffff1a;