@import 'styles/abstracts/colors';
@import 'styles/abstracts/fonts';

.search-container-flights{
    width: 85%;
    margin: 20px auto;
    padding-top: 10px;
    position: relative;

    h3{
        color: $primary-color;
        font-size: 30px;
        font-family: $primary-font;
        font-weight: 200;
        letter-spacing: 0.33px;
        margin: 5px;
    }
}